* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

#cupon-fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#cupon-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    background-color: white;
    border: 2px solid black;
    top: 0;
    left: 0;
    gap: 20px;
}

#cupon-content p {
    width: 300px;
}

#cupon-content button {
    width: 150px;
}


/* Reseña */
#reseña-fixed {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-color: white; */
    justify-content: center;
    align-items: center;

}

#reseña-content {
    display: none;
    opacity: 0;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    background-color: white;
    border: 2px solid black;
    top: 0;
    left: 0;
    gap: 20px;
    width: 400px;
    transition: opacity 0.4s;
}

#reseña-content p {
    width: 300px;
}

#reseña-content button {
    width: 150px;
}

.stars {
    display: flex;
}

.star {
    padding: 5px;
    cursor: pointer;
}